---
import PageLink from "../components/PageLink.astro";
import Paragraph from "../components/Paragraph.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="404">
	<p
		class:list={[
			"m-5",
			"text-6xl",
			"font-monocraft",
			"text-rosePineMoon-love",
		]}
	>
		404
	</p>
	<Paragraph>Page you tried to visit doesn't exist.</Paragraph>
	<PageLink name="Go back" url="/" />
</Layout>
