---
import "@fontsource/montserrat/500.css";

import Layout from "../layouts/MainLayout.astro";
import Nickname from "../components/Nickname.astro";
import SocialLinks from "../components/SocialLinks.astro";
import PageLink from "../components/PageLink.astro";

const pages = [
  {
    name: "About me",
    url: "/about",
  },
  {
    name: "My projects",
    url: "/projects",
  },
];
---

<Layout title="Main">
  <Nickname />
  <p>I'm real, but not everyone is.</p>
  <div class="pages">
    {pages.map((page) => <PageLink name={page.name} url={page.url} />)}
  </div>
  <SocialLinks />
</Layout>

<style>
  p {
    color: #e0def4;
    font-family: "Montserrat", sans-serif;
    font-size: 16pt;
    margin-bottom: 8%;
    user-select: none;
  }
</style>
