---
import PageLink from "../components/PageLink.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Projects">
  <p>Coming soon...</p>
  <PageLink name="Go back" url="/" />
</Layout>
