---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Projects">
  <p>Coming soon...</p>
  <a href="/">Go back</a>
</Layout>

<style>
  p {
    color: #e0def4;
    font-family: "Montserrat", sans-serif;
    font-size: 16pt;
    margin-bottom: 8%;
    user-select: none;
  }

  a {
    color: #3e8fb0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16pt;
    padding: 2%;
    margin: 5%;
    user-select: none;
    transition-duration: 0.4s;
  }

  a:hover {
    color: #9ccfd8;
    font-size: 140%;
  }
</style>
