---
import "@fontsource/jetbrains-mono";
import "@fontsource/fira-code";
---

<div
  class:list={[
    "m-[10%]",
    "animate-nicknameChangeFont",
    "select-none",
    "text-2xl",
    "text-rosePineMoon-iris"
  ]}
>
  <h3>birksovskiy</h3>
</div>
