---
const { name, url } = Astro.props;
---

<a
	class:list={[
		"m-[10%]",
		"text-xl",
		"select-none",
		"no-underline",
		"duration-300",
		"font-montserrat",
		"whitespace-nowrap",
		"text-rosePineMoon-pine",
		"hover:text-rosePineMoon-foam",
	]}
	href={url}
>
	{name}
</a>
