---
const { name, url } = Astro.props;
---

<a
	class="mx-[5%] select-none p-[2%] font-montserrat text-xl text-rosePineMoon-pine no-underline duration-300 hover:text-rosePineMoon-foam"
	href={url}
>
	{name}
</a>
