---
interface ISocialLink {
	name: string,
	icon: string,
	url: string,
}

const socialLinks: ISocialLink[] = [
	{
		name: "GitHub",
		icon: "mingcute--github-line",
		url: "https://github.com/birkef",
	},
	{
		name: "Telegram",
		icon: "mingcute--telegram-line",
		url: "https://t.me/birkef"
	}
];
---

<div class:list={["m-[1vh]", "flex", "items-center", "justify-center"]}>
	{
		socialLinks.map((link: ISocialLink) => (
			<a
				title={link.name}
				class:list={[
					"my-[5%]",
					"mx-[10%]",
					"select-none",
					"text-rosePineMoon-base",
					"hover:text-rosePineMoon-base",
				]}
				rel="me"
				href={link.url}
			>
				<span
					title={link.name}
					class:list={[
						"iconify",
						link.icon,
						"text-[48px]",
						"duration-300",
						"text-rosePineMoon-text",
						"hover:text-rosePineMoon-subtle",
					]}
				/>
			</a>
		))
	}
</div>
