---
import { Icon } from "astro-icon";

const socialLinks = [
  {
    name: "GitHub",
    url: "https://github.com/birksovskiy",
  },
  {
    name: "Mastodon",
    url: "https://lor.sh/@birksovskiy",
  },
];
---

<div class="socials">
  {
    socialLinks.map((link) => (
      <a title={link.name} rel="me" href={link.url}>
        <Icon
          pack="ri"
          name={`${link.name.toLowerCase()}-line`}
          color="#e0def4"
          size={48}
          title={link.name}
        />
      </a>
    ))
  }
</div>

<style>
  .socials {
    margin: 10%;
  }

  a {
    margin: 5%;
    user-select: none;
  }

  [astro-icon] {
    transition-duration: 0.3s;
  }

  [astro-icon]:hover {
    color: #908caa;
  }
</style>
