---
import { Icon } from "astro-icon";

const socialLinks = [
	{
		name: "GitHub",
		icon: "github",
		url: "https://github.com/birkef",
	},
	{
		name: "Telegram",
		icon: "telegram",
		url: "https://t.me/birkef"
	}
];
---

<div class:list={["m-[10%]", "flex", "items-center", "justify-center"]}>
	{
		socialLinks.map((link) => (
			<a
				title={link.name}
				class:list={[
					"mx-[10%]",
					"select-none",
					"text-rosePineMoon-base",
					"hover:text-rosePineMoon-base",
				]}
				rel="me"
				href={link.url}
			>
				<Icon
					name={`tabler:brand-${link.icon}`}
					class:list={["hover:color-rosePineMoon-subtle", "duration-300"]}
					color="#e0def4"
					size={48}
					title={link.name}
				/>
			</a>
		))
	}
</div>
