---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta property="og:site_name" content="birkef" />
		<meta
			property="og:description"
			content="I'm real, but not everyone is."
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | birkef</title>
	</head>
	<body
		class:list={[
			"flex",
			"flex-col",
			"h-screen",
			"text-center",
			"items-center",
			"justify-center",
			"bg-rosePineMoon-base",
		]}
	>
		<div id="root">
			<slot />
		</div>
	</body>
</html>

<style>
	@font-face {
		font-family: "Monocraft";
		src: url("/fonts/Monocraft.otf") format("opentype");
	}
	
	@font-face {
		font-family: "Monaspace Radon";
		font-weight: 400;
		font-stretch: 100%;
		src: url("/fonts/MonaspaceRadon-VF.woff2") format("woff2-variations");
	}

	@font-face {
		font-family: "Monaspace Krypton";
		font-weight: 400;
		font-stretch: 100%;
		src: url("/fonts/MonaspaceKrypton-VF.woff2") format("woff2-variations");
	}
</style>
