---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>birksovskiy | {title}</title>
  </head>
  <body>
    <div id="root">
      <slot />
    </div>
  </body>
</html>

<style>
  html {
    text-align: center;
    width: 60%;
    height: 60%;
    min-width: 400px;
    max-width: 500px;
    padding: 40px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #232136;
  }

  p {
    color: #e0def4;
    font-family: "Montserrat", sans-serif;
    font-size: 16pt;
    margin-bottom: 8%;
    user-select: none;
  }
</style>
